body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/trip.avif);
    margin: 0;
    padding: 20px;
    color: #080808;
}

#schedule-form {
    margin-bottom: 20px;
    margin-left: 350px;
}

#content-form {
    margin-bottom: 20px;
    margin-left: 350px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

#save-btn {
    border-radius: 7px;
    background-color: #4CAF50;
    margin-left: 5px;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

#save-btn:hover {
    background-color: #45A242;
    transform: scale(1.1);
}

#delete {
    border-radius: 7px;
    background-color: #f49c06;
    margin-left: 5px;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

#delete:hover {
    background-color: #f59841;
    transform: scale(1.1);
}

#before {
    position: absolute;
    top: 20px;
    left: 25px;
    background-color: #f4746b;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#before:hover {
    background-color: #d63c33;
    transform: scale(1.1);
}

input[type="date"],
input[type="text"],
textarea {
    width: 150px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

#content-input {
    width: 450px;
    height: 90px;
    border-radius: 7px;
    border: 1px solid #dddddd;
    padding: 10px;
    font-size: 16px;
    color: #333333;
}

.calendar-cell {
    background-color: #ffffff;
    border: 3px solid #cc5959;
    padding: 10px;
}

.schedule-item {
    background-color: #ffffff;
    border: 2px solid #5e5e5c;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    color: #333333;
}