* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative; /* 푸터의 위치를 설정하기 위해 상대 위치로 변경 */
}

.container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    background-color: #333;
    margin: 0 auto;
    position: relative; /* header 요소 내의 절대 위치를 위해 상대 위치로 변경 */
    z-index: 1; /* 다른 요소보다 앞에 표시되도록 z-index 설정 */
}

.container .article {
    background-color: #007bff;
    width: 1600px;
    height: 400px;
}

.container .header h1 a {
    font-size: 60px;
    font-weight: normal;
    margin-top: 30px;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute; 
    left: 30%;
    top: 30%; 
    transform: translate(-50%, -50%); 
}

.container .search {
    width: 700px;
    margin-left: 630px;
}

#searchTerm {
    width: 220px;
    height: 30px;
    margin-top: 20px;
    margin-left: 100px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}

#searchButton {
    margin-left: 10px;
    padding: 5px;
    background-color: #516b87;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: #0056b3;
}

#searchResult {
    width: 250px;
    height: 60px;
    margin-top: 10px;
    margin-left: 100px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    resize: none; /* 크기 조절 비활성화 */
}

.credentials {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

#id, #password {
    padding: 8px;
    width: 100px;
    height: 30px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}

#loginButton {
    width: 60px;
    height: 30px;
    padding: 5px;
    background-color: #516b87;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}

#signupButton {
    width: 70px;
    height: 30px;
    padding: 5px;
    background-color: #366b9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}


#loginButton:hover, #signupButton:hover {
    background-color: #0056b3;
}

/* 햄버거 아이콘 스타일링 */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-left: 20px; /* 왼쪽 여백을 20px로 변경 */
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    margin-right: 30px;
}

/* 네비게이션 메뉴 초기에는 숨기기 */
.nav ul {
    display: none;
}

/* 네비게이션 메뉴 보이기 */
.nav.active ul {
    display: flex;
    flex-direction: column;
}

/* 반응형 스타일링을 위해 미디어 쿼리 사용 */
@media screen and (max-width: 768px) {
    /* 햄버거 아이콘 숨기기 */
    .hamburger {
        display: none;
    }

    /* 네비게이션 메뉴 보이기 */
    .nav.active ul {
        display: flex;
        flex-direction: column;
    }
}

.container .article {
    position: absolute;
    left: 50%;
    top: 39%;
    transform: translate(-50%, -50%);  
    background-color: #989595d6;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%; /* 화면 너비에 맞추도록 변경 */
    height: 900px; /* 내용에 따라 높이 자동 조절 */
    padding: 20px; /* 내용과의 여백을 설정 */
    box-sizing: border-box; /* 내용의 여백을 포함하여 전체 크기 유지 */
}

.container .article h2 {
    font-size: 50px;
    font-weight: bolder; 
    margin-top: 330px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}

.container .article .info {
    width: 600px;
    left: 575px;
    top: 380px;
}

.container .article p {
    font-size: 23px;
}

.container .article div {
    position: absolute;
    width: 220px;
    height: 640px;
    left: 7%;
    top: 580px;
    transform: translate(-50%, -50%);
}

.container .navList {
    background-color: #c8c5c5;
    z-index: 2;
}

.container .navList .consult {
    width: 205px;
    height: 150px;
    background-color: #f0f0f0;
    border: 2px solid #516b87;
    padding: 10px;
    border-radius: 5px;
    top: 400px;
    margin-left: 95px;
}

.container .navList .useguide {
    width: 205px;
    height: 140px;
    background-color: #f0f0f0;
    border: 2px solid #516b87;
    padding: 10px;
    border-radius: 5px;
    top: 560px;
    margin-left: 95px;
}

.container .navList .consulting {
    color: rgb(76, 88, 114);
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.container .navList .guide {
    color: rgb(76, 88, 114);
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 7px;
}

.container .navList .tel {
    position: absolute;
    color: #333;
    font-size: 18px;
    text-align: center;
    top: 55px;
    left: 50px;
}

.container .navList .time {
    position: absolute;
    color: #515050;
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
    margin-top: 5px;
    top: 80px;
    left: 5px;
}

#use {
    width: 100px;
    padding: 10px;
    background-color: #516b87;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#use:hover {
    background-color: #0056b3;
}

#point {
    width: 72px;
    padding: 10px;
    background-color: #516b87;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 3px;
}

#point:hover {
    background-color: #0056b3;
}

#question {
    width: 100px;
    padding: 10px;
    background-color: #516b87;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1px;
    margin-top: 5px;
}

#question:hover {
    background-color: #0056b3;
}

#promotion {
    width: 72px;
    padding: 10px;
    background-color: #516b87;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 3px; /* 버튼 사이의 간격을 위해 마진 추가 */
}

#promotion:hover {
    background-color: #0056b3;
}

.container .nav_list1 {
  display: none;
  position: absolute;
  top: 30px;
  left: 5px;
  width: 215px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container .nav_list1 ul {
  list-style: none;
  padding: 0;
}

.container .nav_list1 li {
  padding: 10px;
  font-size: 15px;
  font-weight: bolder; 
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s;
}

.container .nav_list1 .accordion a {
    font-size: 13px;
}

.container .nav_list1 li:last-child {
  border-bottom: none;
}

.container .nav_list1 li a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  margin-left: 10px;
}

.container .nav_list1 li svg {
  width: 20px;
  height: 20px;
  fill: #1fdfdf;
}

.container .nav_list1 .nav-item:hover {
  background-color: #f0f0f0;
}

.container .nav_list1 .nav-item:hover a {
  color: #1fdfdf;
}

.container .nav_list1 .accordion-content {
    display: none;
}

.banner {
    margin-top: 30px;
    text-align: center;
    position: relative; /* 배너도 relative로 설정 */
    z-index: -1; /* 배너의 z-index를 article보다 작게 설정하여 밑으로 이동 */
}

.banner img {
    width: 550px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 950px;
}

#p {
    display: grid;
    font-size: 22px;
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translate(-50%, -50%);  
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    margin-top: 3px;
}

.photos {
    display: grid;
}

.photos-container {
    display: grid;
    position: relative; /* 처음부터 위치는 relative로 유지 */
    top: 0; /* 초기 위치는 top: 0으로 설정 */
    left: 0; /* 초기 위치는 left: 0으로 설정 */
    transform: none; /* 초기 변형은 없음 */
    width: 1300px;
    height: 200px;
    background-color: #6e6c6c;
    border-radius: 10px;
    grid-template-columns: repeat(8, 158px); /* 4개의 열, 각 열의 너비는 150px */
    grid-template-rows: 180px;
    padding-left: 5px;
    margin-left: 216px;
    margin-top: 405px;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.photo-container {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
  
.photo-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.photos-container.active {
    position: absolute;
    left: 50%;
    top: 450px;
    transform: translateX(-50%);
    transition: top 1s;
  }

.photo-container:hover img {
    transform: scale(1.1);
}
  
.photo-container a {
    display: block; /* 링크를 블록 요소로 변경하여 전체 셀 영역에 링크 적용 */
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .container .header {
        width: 90%;
    }

    .container .nav {
        display: block;
    }

    .container .nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container .text h2 {
        font-size: 40px;
    }

    .container .text p {
        font-size: 16px;
    }

    .container .text button {
        font-size: 14px;
        padding: 10px 15px;
    }
}


