* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/trip.avif);
}

.container .header {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 a {
    font-size: 30px;
    font-weight: normal; 
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .nav {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%); /*세로축 방향으로 50% 이동 -> 세로 중앙에 정렬*/
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .nav ul {
    white-space: nowrap;
    padding: 0;
    display: flex;
    justify-content: center; /* 가로 정렬 */
    align-items: center; /* 세로 정렬 */
}

.container .nav ul li {
    display: inline-block;
    margin: 0 10px;
    list-style: none;
    text-align: center;
    font-size: 25px;
}

.container .nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
}

.container .nav ul li a:hover {
    color: #1fdfdf;
}

.container .nav textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #cfd0d0;
}

.search {
    margin-top: 10px;
}

.container .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  /*가로축 세로축 이동 -> 가운데 정렬*/
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .text h2 {
    font-size: 60px;
    font-weight: bolder; 
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container .text p {
    font-size: 20px;
}

.container .text button {
    background: none;
    border: 2px solid darkseagreen;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    margin: 30px auto;
    display: block;
    cursor: pointer;
    transition: all .4s;
}

.container .text button:hover {
    background-color: darkslategray;
}

.container .search {
    position: absolute;
    top: 30px;
    left: 700px;
    display: flex;
    align-items: center;
}

.container .search button {
    margin-left: 5px;
    white-space: nowrap; /* 버튼 내의 텍스트가 한 줄로 표시되도록 설정 */
    width: auto;
}

.container #searchResult {
    margin-top: 30px;
    margin-left: 700px;
}

#quiz:hover,
#packing:hover,
#memo:hover,
#plan:hover,
#review:hover {
    background-color: darkslategray;
}

#quiz, #packing, #memo, #plan, #review {
    background: none;
    border: 2px solid rgb(250, 178, 9);
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    position: fixed;
    cursor: pointer;
    transition: all .4s;
}

#quiz {
    right: 400px;
    bottom: 250px;
}

#packing {
    right: 450px;
    bottom: 130px;
}

#memo {
    right: 260px;
    bottom: 150px;
}

#plan {
    right: 220px;
    bottom: 270px;
}

#review {
    right: 80px;
    bottom: 160px;
}

  
@media screen and (max-width: 600px) {
    .container .header {
        width: 90%;
    }

    .container .nav {
        display: block;
    }

    .container .nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container .text h2 {
        font-size: 40px;
    }

    .container .text p {
        font-size: 16px;
    }

    .container .text button {
        font-size: 14px;
        padding: 10px 15px;
    }
}

@media screen and (max-width: 600px) {
    .container .header {
        width: 90%;
    }

    .container .nav {
        display: block;
    }

    .container .nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container .text h2 {
        font-size: 40px;
    }

    .container .text p {
        font-size: 16px;
    }

    .container .text button {
        font-size: 14px;
        padding: 10px 15px;
    }
}
